<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="modernhttpclient" version="2.4.2" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="xamarinios10" />
  <package id="PlotProjects.Plugin" version="1.15.4" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="2.2.12" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.ExternalMaps" version="3.0.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.2.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Facebook.iOS" version="4.16.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="3.4.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.Core" version="3.0.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.Maps" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.SignIn" version="4.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Insights" version="1.12.3" targetFramework="xamarinios10" />
  <package id="Xamarin.TestCloud.Agent" version="0.20.3" targetFramework="xamarinios10" />
</packages>